<br>

# CAO Points Analysis

In [22]:
# Importing the requests package so I can make HTTP requests
import requests as rq

#Import regualar expresions package
import re

#Import date and times. This allows to deal with date and time later.
import datetime as dt

#importing Pandas data frames
import pandas as pd

import urllib.request as urlrq
print("done")

done

<br>


## 2021 Points

http://www.cao.ie/index.php?page=points&p=2021

In [2]:
#fetches the cao points url
resp = rq.get('http://www2.cao.ie/points/l8.php')
#if the response is 200 everything is working ok so far
resp

## Saving the original data set

In [3]:
#getting the current date and time
now = dt.datetime.now()

#format as a string
nowstr = now.strftime('%Y%m%d_%H%M%S')

In [4]:
#creating a file path for original data
path = 'data/cao2021_' + nowstr + '.html'

In [5]:
# fixing the encoding. The server on cao website uses the wrong encoding so changing it to cp1252.
original_encoding = resp.encoding

resp.encoding = 'cp1252'

In [6]:
#save the oringal html file to the path outlined above
with open(path, 'w') as f:
    f.write(resp.text)

In [7]:
#the r at the start of the string below means raw. It prevents the backslash from being interpreted.

re_course = re.compile(r'([A-Z]{2}[0-9]{3})  (.*)([0-9]{3})(\*?) *')

 This is a regular expression here. It is looking to fully match a pattern. The first part [A-Z] is saying return any uppercase characters from a-z, the second part is a quantifier and it states that there are two digits(this is because the code names for the courses all start with two letter digts) The third part is a number 0-9 (all the college courses follow the two letter digits with numbers and this is folloowed by a quantifier of 3.

The line.decode part is to allow jupyter to read the lines as strings as opposed to bytes. Without this there would be an error.

In [8]:
path = 'data/cao2021_csv_' + nowstr + '.html'

no_lines = 0
#open the csv file for writing
with open(path, 'w') as f:
    #looping through the lines of the response content.
    for line in resp.iter_lines():
        #server on cao website says to decode with iso-8859-1. However, line that uses x96 isn't defined in iso-8859-1 so we are using the cp-1252 which includes x96.
        dline = line.decode('cp1252')
        #match the lines that represent courses.
        if re_course.fullmatch(dline):
            #add 1 to lines counter.
            no_lines = no_lines + 1
            
            #split the lines where there are two or more spaces.
            linesplit = re.split('  +', dline)
            #join the substrings with commas in between.
            f.write(','.join(linesplit) + '\n')

print(f"Total number of lines is {no_lines}.")

Total number of lines is 922.

<br>

## 2020 Points

<br>

In [9]:
pip install xlrd

Requirement already satisfied: xlrd in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (2.0.1)
WARNING: You are using pip version 21.0.1; however, version 21.3.1 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.9/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

I previously had an error message when I tried running the code below. I searched how to fix the error message and one of the solutions was to install xlrd. This worked but I realised that I needed to also download the latest python version to avoid future errors. Hopefully everthing runs smoothly from here out ;)

In [20]:
#file path for original data
path = 'data/cao2020_' + nowstr + '.xlsx'

In [21]:
# save the original file to disk
urllib.URLopener().retrieve("http://www2.cao.ie/points/CAOPointsCharts2020.xlsx", path)

NameError: name 'urllib' is not defined

In [19]:
#download and parse the excel spreadsheet
df = pd.read_excel('http://www2.cao.ie/points/CAOPointsCharts2020.xlsx', skiprows=10)

In [11]:
df

,CATEGORY (i.e.ISCED description),COURSE TITLE,COURSE CODE2,R1 POINTS,R1 Random *,R2 POINTS,R2 Random*,EOS,EOS Random *,EOS Mid-point,...,avp,v,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8
0,Business and administration,International Business,AC120,209,NaN,NaN,NaN,209,NaN,280,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Humanities (except languages),Liberal Arts,AC137,252,NaN,NaN,NaN,252,NaN,270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arts,"First Year Art & Design (Common Entry,portfolio)",AD101,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arts,Graphic Design and Moving Image Design (portfo...,AD102,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arts,Textile & Surface Design and Jewellery & Objec...,AD103,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1459,Manufacturing and processing,Manufacturing Engineering,WD208,188,NaN,NaN,NaN,188,NaN,339,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1460,Information and Communication Technologies (ICTs),Software Systems Development,WD210,279,NaN,NaN,NaN,279,NaN,337,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1461,Information and Communication Technologies (ICTs),Creative Computing,WD211,271,NaN,NaN,NaN,271,NaN,318,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1462,Personal services,Recreation and Sport Management,WD212,270,NaN,NaN,NaN,270,NaN,349,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1463,Engineering and engineering trades,Mechanical and Manufacturing Engineering,WD230,253,NaN,NaN,NaN,253,NaN,369,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
# spot check a random row
df.iloc[444]

CATEGORY (i.e.ISCED description)                             Health
COURSE TITLE                           Health and Physical Activity
COURSE CODE2                                                  DK880
R1 POINTS                                                       328
R1 Random *                                                     NaN
R2 POINTS                                                       NaN
R2 Random*                                                      NaN
EOS                                                             328
EOS Random *                                                    NaN
EOS Mid-point                                                   389
LEVEL                                                             8
HEI                                 Dundalk Institute of Technology
Test/Interview #                                                NaN
avp                                                             NaN
v                                                               NaN
Column1                                                         NaN
Column2                                                         NaN
Column3                                                         NaN
Column4                                                         NaN
Column5                                                         NaN
Column6                                                         NaN
Column7                                                         NaN
Column8                                                         NaN
Name: 444, dtype: object

In [13]:
# spot check the last row.
df.iloc[-1]

CATEGORY (i.e.ISCED description)          Engineering and engineering trades
COURSE TITLE                        Mechanical and Manufacturing Engineering
COURSE CODE2                                                           WD230
R1 POINTS                                                                253
R1 Random *                                                              NaN
R2 POINTS                                                                NaN
R2 Random*                                                               NaN
EOS                                                                      253
EOS Random *                                                             NaN
EOS Mid-point                                                            369
LEVEL                                                                      8
HEI                                        Waterford Institute of Technology
Test/Interview #                                                         NaN
avp                                                                      NaN
v                                                                        NaN
Column1                                                                  NaN
Column2                                                                  NaN
Column3                                                                  NaN
Column4                                                                  NaN
Column5                                                                  NaN
Column6                                                                  NaN
Column7                                                                  NaN
Column8                                                                  NaN
Name: 1463, dtype: object